<template>
  <div class="root">
    <div class="root-item">
      <div class="root-item-header">О себе</div>
      <Hobbies is-personal
               :hobbies="userHobbies"
               @add-hobby="addHobby"
               @remove-hobby="removeHobby"/>
    </div>
    <div class="root-item">
      <div class="root-item-header">Интересы друга</div>
      <Hobbies :hobbies="friendHobbies"
               @add-hobby="addHobby"/>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Hobbies from '@/components/Hobbies.vue'

export default Vue.extend({
  components: { Hobbies },
  data () {
    return {
      userHobbies: ['Abc', 'Высокоточная вёрстка под старые версии Microsoft Internet Explorer, начиная с версии 5.01'],
      friendHobbies: ['Qwerty', 'Нарезка Photoshop/Fireworks макетов на скорость, в экстримельных условиях, на природе']
    }
  },

  methods: {
    addHobby (hobby: string) {
      this.userHobbies.push(hobby)
    },

    removeHobby (hobby: string) {
      const hobbyToDelete = this.userHobbies.indexOf(hobby)

      if (hobbyToDelete > -1) {
        this.userHobbies.splice(hobbyToDelete, 1)
      }
    }
  }
})
</script>

<style scoped lang="scss">
.root {
  width: 484px;
  margin: 0 auto;

  &-item {
    margin-bottom: 24px;
  }

  &-item-header {
    font-size: 18px;
    line-height: 24px;
    border-bottom: 1px solid black;
    margin-bottom: 12px;
  }
}
</style>
