<template>
  <div class="hobbies">
    <div class="hobbies-header">
      <span class="hobbies-header-text">Хобби</span>
      <div class="dotted-line"/>
    </div>

    <div class="hobbies-body">
      <input v-if="isPersonal"
             v-model="hobbyString"
             @keydown.enter="addHobby"
             class="hobbies-body-input"
             placeholder="Введите текст"
             type="text">

      <div v-for="(hobby, index) in getHobbies()"
           :key="index"
           class="hobbies-item">

        <div class="hobbies-item-container">
          <div class="hobbies-item-control"
               :class="{'is-plus': !isPersonal}"
               @click="handleHobby(hobby, index)"/>
          <span :title="hobby"
                class="hobbies-item-text">
            {{ hobby }}
          </span>
          <div :class="{'is-shown': !isPersonal}"
               class="hobbies-item-ban" @click="banBadHobby(hobby)">
            <div class="hobbies-item-ban-img"/>
            <span>пожаловаться</span>
          </div>
        </div>

        <div class="hobbies-item-borrowed"
             :class="{'is-visible': addedHobbyIndex === index}">
          <div class="hobbies-item-borrowed-img"/>
          <span>добавлено в ваши увлечения</span>
        </div>
      </div>

      <span v-if="hobbies.length > 2 && !showAll"
            class="hobbies-body-show-more"
            @click="showAllHobbies">
        еще {{ hobbies.length - 2 }} интереса(ов)
      </span>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  props: {
    isPersonal: {
      type: Boolean,
      default: false
    },
    hobbies: {
      type: Array as () => string[],
      required: true
    }
  },

  data () {
    return {
      hobbyString: '',
      addedHobbyIndex: 999,
      showAll: false
    }
  },

  methods: {
    getHobbies () {
      return this.showAll ? this.hobbies : this.hobbies.slice(0, 2)
    },

    showAllHobbies () {
      this.showAll = !this.showAll
    },

    addHobby () {
      this.$emit('add-hobby', this.hobbyString)
      this.hobbyString = ''
    },

    removeHobby (hobby: string) {
      this.$emit('remove-hobby', hobby)
    },

    borrowHobby (hobby: string, index: number) {
      this.$emit('add-hobby', hobby)
      this.addedHobbyIndex = index
    },

    handleHobby (hobby: string, index: number) {
      this.isPersonal ? this.removeHobby(hobby) : this.borrowHobby(hobby, index)
    },

    banBadHobby (hobby: string) {
      alert(`${hobby} hobby is bad mkay`)
      // or $router.push({ name: BanhammerForm }) smth
    }
  }
})
</script>

<style scoped lang="scss">
$base-size: 12px;

.dotted-line {
  height: 1px;
  border-bottom: 1px dotted black;
  flex-grow: 1;
}

.hobbies {
  &-header {
    display: flex;
    align-items: center;

    &-text {
      margin-right: $base-size;
    }
  }

  &-body {
    margin-top: $base-size*2.5;

    &-input {
      margin-left: $base-size*2;
      margin-bottom: $base-size;
    }

    &-show-more {
      margin-left: $base-size*2;
      color: orange;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &-item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $base-size;
    margin-right: $base-size;

    &-container {
      display: flex;
      align-items: center;
      width: 100%;
      margin-bottom: $base-size/2;
    }

    &-control {
      display: block;
      opacity: 0;
      transition: opacity 0.2s;
      width: $base-size*1.2;
      height: $base-size*1.2;
      margin-right: $base-size;
      flex-shrink: 0;
      cursor: pointer;
      background: url("./../assets/close.png") center no-repeat;

      &.is-plus {
        background-image: url("./../assets/add.gif");
      }
    }

    &-text {
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: clip;
      margin-right: $base-size;
      font-size: $base-size*1.2;
      position: relative;

      &::after {
        content: '';
        display: block;
        height: $base-size*1.2;
        width: $base-size*1.2;
        position: absolute;
        top: 0;
        right: 0;
        background: url("./../assets/fader.png");
      }
    }

    &-borrowed {
      display: none;
      align-items: center;
      width: 100%;
      color: green;
      margin-left: $base-size*2;

      &.is-visible {
        display: flex;
      }
    }

    &-borrowed-img {
      width: $base-size*1.2;
      height: $base-size*1.2;
      border-radius: 50%;
      margin-right: $base-size/2;
      flex-shrink: 0;
      background: url("./../assets/ok.png") center no-repeat;
    }

    &-ban {
      display: none;
      align-items: center;
      opacity: 0;
      transition: opacity 0.2s;
      font-size: $base-size;
      cursor: pointer;
      flex-grow: 1;

      &.is-shown {
        display: flex;
      }
    }

    &-ban-img {
      display: block;
      width: $base-size;
      height: $base-size;
      margin-right: $base-size/3;
      background: url("./../assets/warn.png") center no-repeat;
    }
  }
}

.hobbies-item:hover {
  .is-shown {
    opacity: 1;
  }

  .hobbies-item-control {
    opacity: 1;
  }
}
</style>
